$button-default-background-color: rgb(241, 233, 198);
$button-default-border-color: rgba(125,126,126,1);
$button-default-background-color-over: rgba(255, 213, 0, 0.877);
$button-default-base-color: rgb(252, 240, 184);
$button-default-color: rgba(29,29,29,1);
$tab-base-color-active: rgba(255,226,87,1);
$tab-base-color-focus-active: rgba(255,226,87,1);
$tab-base-color-over: rgba(255,235,141,1);
$tab-body-outline-color-focus: rgba(255,255,255,0);
$tab-color-active: rgba(0,0,0,1);
$tab-color-focus: rgba(0,0,0,1);
$tab-color-focus-active: rgba(0,0,0,1);
$tab-color-focus-over: rgba(0,0,0,1);
$tab-color-over: rgba(0,0,0,1);
$tab-font-size-active: 18px;
$tab-font-size-focus-active: 18px;
$tab-font-size-over: 18px;
$tab-outline-color-focus: rgba(255,255,255,0);
$form-field-focus-border-color: rgba(255,226,87,1);
$form-field-height: 40px;
$menu-item-active-background-color: rgba(255,240,170,1);
$tab-closable-icon-glyph-color: rgba(146,145,145,1);
$tab-plain-closable-icon-glyph-color: rgba(162,160,160,1);